<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KCH.Properties.Settings.KConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\KCHE.accdb"
            providerName="System.Data.OleDb" />
        <add name="KCH.Properties.Settings.kkConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\kk.accdb"
            providerName="System.Data.OleDb" />
        <add name="KCH.Properties.Settings.kkConnectionString1" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\kk.accdb"
            providerName="System.Data.OleDb" />
        <add name="KCH.Properties.Settings.BConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\B.accdb"
            providerName="System.Data.OleDb" />
        <add name="KCH.Properties.Settings.KTCConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\KTC.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>